.input {
    margin: 1rem;
}

.input input {
    outline: none;
    border: 1px solid #999999;
    border-radius: 5px;
    font-size: 14px;
    padding: 0.3em;
}

.input label {
    display: block;
    font-weight: 600;
}